body {
    font-family: 'Lato', sans-serif;
    background-color: #E9E9E9;
}

#name {
	font-size: 45px;
	text-align: center;
	padding-top: 50px;
	color: #2B8985;
}

#description {
	font-size: 16px;
	text-align: center;
	padding-bottom: 15px;
}

.info {
	padding-top: 20px;
	font-size: 15px;
}

.para {
	padding-bottom: 12px;
}

#text {
	text-align: center;
	padding-bottom: 30px;
}

#contact {
	padding: 10px 0px 20px 0px;
	font-size: 20px;
	text-align: center;
}
.img-wrapper {
	text-align: center;
	padding-bottom: 40px;
}
.img {
	width:350px;
	height: 230px;
	padding: 5px;
}
.img-vert {
	width: 350px;
	height: 480px;
	padding: 5px;
}
.dwarf-img {
	width: 450px;
	height: auto;
	padding: 5px;
}
.udder-img {
	width: 180px;
	height: auto;
	padding: 5px;
}
.udder-img1 {
	width: auto;
	height: 180px;
	padding: 5px;
}
#tab-name {
	font-size: 30px;
	padding-bottom: 10px;
	text-align: center;
}
.goat-name {
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 5px;
}
.goat-dna {
	font-weight: 800;
	text-indent: 40px;
}
.sold {
	font-weight: 800;
	font-size: 16px;
	color: red;
}
.onclick {
	color: #2B8985;
	cursor: pointer;
}

.mySlides {display:none}
.mySlides1 {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}