#nav {
    text-align:center;
    text-transform: uppercase;
    padding: 10px 0px;
    width: 100%;
    z-index: 1;
}
ul {
    margin: 0 auto;
    list-style-type: none;
}
#nav li {
    display:inline-block;
    color: black;

}
#nav li a {
    text-decoration:none;
    color: black;
    display: inline-block;
    padding: 14px;
}

#nav li:hover a:hover {
    font-weight: 700;
    text-decoration: underline;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #D3D3D3;
}

.sticky + .info {
  padding-top: 60px;
}

.kidding-container {
  width: 1200px;
}
