#nav {
    text-align:center;
    width: 100%;
}
ul {
    margin: 0 auto;
    list-style-type: none;
    background-color: #EDDA74;
    text-transform: uppercase;
}
li {
    display:inline-block;
    color: black;
    
}
li a {
    text-decoration:none; 
    color: black;
    display: inline-block;
    padding: 15px 20px 15px 20px;
}

li:hover:not(.active) {
    background-color: #4CAF50;

}

.active {
    background-color:#4CAF50;
}
